.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

h1 {
  display: block;
  font-size: 32px;
}

h2 {
  display: block;
  font-size: 28px;
}
